<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<nav class="bg-gray-100 border-b">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">

    <a href="/game" class="text-lg font-semibold text-gray-800">
      GAME
    </a>

    <ul class="flex space-x-4">
        <a href="/homepage" class="text-gray-700 hover:text-black">
          Home
        </a>
    </ul>
    <ul class="flex space-x-4">
        <a href="/search" class="text-gray-700 hover:text-black">
          Search
        </a>
    </ul>

    {% if logged_in == True %}
    <ul class="flex space-x-4">
        <a href="/profile/{{ username }}" class="text-gray-700 hover:text-black">
          Profile
        </a>
    </ul>

    <a href="/logout"
       class="text-sm border border-gray-400 text-gray-700 px-3 py-1 rounded hover:bg-gray-200">
       Logout
    </a>
    {% else %}
    <a href="/login.html"
       class="text-sm border border-gray-400 text-gray-700 px-3 py-1 rounded hover:bg-gray-200">
       Log In
    </a>
    {% endif %}
  </div>
</nav>


<div id = "fullscreen" class = "flex">

<div id = "game-info" class = "pl-5 pt-2 w-[50%] pr-2">

<div id = "name-rank" class = "pb-1">
<b>{{ game_name }}</b> #{{ rank }}
</div> <!-- name-rank -->

<div id = "basic-info" class = "pt-1 pb-1">
Platform(s): {{ platforms }}
<br>
Year: {{ year }}
<br>
Genre: {{ genre }}
<br>
Publisher: {{ publisher }}
<br>
Metacritic Score: {{ rating }}
<br>
User Ranking: {{ user_ranking }}
</div> <!-- basic-info -->

<div id = "description" class = "pt-1 pb-1 text-justify">
Description: {{ description | safe }}
</div> <!-- description -->

<div id = "sales-info" class = "pt-1">
NA Sales: {{ na_sales }}
<br>
EU Sales: {{ eu_sales }}
<br>
JP Sales: {{ jp_sales }}
<br>
Other Sales: {{ other_sales }}
<br>
Global Sales: {{ global_sales }}
</div> <!-- sales-info -->

<div id = "reviews" class = "pt-5">
  User Reviews: <br>
  <div class = "ml-4">
    {{ reviews | safe }}
  </div>
</div> <!-- reviews -->

</div> <!-- game-info -->

<div id = "review-form" class = "w-[50%] pr-5 pt-2 pl-2">

<form action = "/review" method = "POST">
<textarea name = "body_text" rows = "20" required cols = "100" class = "border-2 p-2"></textarea>
<input type = "hidden" name = "game_id" value = '{{ game_id }}'>
<input type = "SUBMIT">
</form>
<br><br>
<form action = "/rate" method="POST">
  Rate this Game: <input type = "number" name="rating" min = '0' max = '100' required class="border-2"> <br>
  <input type = "hidden" name = "game_id" value = '{{ game_id }}'>
  <input type = "SUBMIT">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

</form>
<br><br>
<form action = "/purge" method = "POST">
  <input type = "hidden" name = "game_id" value = '{{ game_id }}'>
  <input type = "SUBMIT" class="text-white">
</form>

</div> <!-- review-form -->



</div> <!-- fullscreen -->
