<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<body class="min-h-screen bg-[radial-gradient(circle_at_top,_#1f2937,_#030712)] text-gray-100">

<nav class="bg-red-700 border-b border-red-900">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">

    <a href="/game" class="text-lg font-semibold text-gray-50">
      GAME
    </a>

    <ul class="flex space-x-4">
        <a href="/homepage" class="text-gray-50 hover:text-black">
          Home
        </a>
    </ul>
    <ul class="flex space-x-4">
        <a href="/search" class="text-gray-50 hover:text-black">
          Search
        </a>
    </ul>

    {% if logged_in == True %}
    <ul class="flex space-x-4">
        <a href="/profile/{{ username }}" class="text-gray-50 hover:text-black">
          Profile
        </a>
    </ul>

    <a href="/logout"
       class="text-sm border border-gray-50 text-gray-50 px-3 py-1 rounded hover:bg-gray-200 hover:text-black">
       Logout
    </a>
    {% else %}
    <a href="/login.html"
       class="text-sm border border-gray-50 text-gray-50 px-3 py-1 rounded hover:bg-gray-200 hover:text-black">
       Log In
    </a>
    {% endif %}
  </div>
</nav>

<div id="fullscreen" class="flex mt-6">

<div id="game-info" class="pl-5 pt-2 w-[50%] pr-2 bg-gray-900 border border-gray-700 rounded-xl shadow-2xl ml-4 mr-2 p-4">

<div id="name-rank" class="pb-2 text-lg">
<b>{{ game_name }}</b> #{{ rank }}

<script>
  console.log("thanks https://tailwindflex.com/@gopi/heart-shaped-rating-section for the heart svg");
</script>

<a href = "/favorite/{{game_id}}">
<button>
  <svg class="text-{{text_color}} w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
	  <path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/>
	</svg>
  </button>
</a>

</div>



<div id="basic-info" class="pt-1 pb-2">
Platform(s): {{ platforms }}
<br>
Year: {{ year }}
<br>
Genre: {{ genre }}
<br>
Publisher: {{ publisher }}
<br>
Metacritic Score: {{ rating }}
<br>
User Ranking: {{ user_ranking }}
</div>

<div id="description" class="pt-1 pb-2 text-justify">
Description: {{ description | safe }}
</div>

<div id="sales-info" class="pt-1">
NA Sales: {{ na_sales }}
<br>
EU Sales: {{ eu_sales }}
<br>
JP Sales: {{ jp_sales }}
<br>
Other Sales: {{ other_sales }}
<br>
Global Sales: {{ global_sales }}
</div>

<div id="reviews" class="pt-5">
  User Reviews: <br>
  <div class="ml-4">
    {{ reviews | safe }}
  </div>
</div>

</div>

<div id="review-form" class="w-[50%] pr-5 pt-2 pl-2 bg-gray-900 border border-gray-700 rounded-xl shadow-2xl mr-4 ml-2 p-4">

<form action="/review" method="POST">
<textarea name="body_text" rows="20" required cols="100"
          class="border border-gray-600 bg-gray-800 text-gray-100 p-2 rounded w-full"></textarea>
<input type="hidden" name="game_id" value='{{ game_id }}'>
<input type="submit" class="bg-red-600 px-3 py-1 rounded mt-2 hover:bg-red-700 cursor-pointer">
</form>

<br><br>

<form action="/rate" method="POST">
  Rate this Game:
  <input type="number" name="rating" min='0' max='100' required
         class="border border-gray-600 bg-gray-900 text-gray-100 p-1 rounded">
  <br>

  <input type="hidden" name="game_id" value='{{ game_id }}'>
  <input type="submit" class="bg-red-600 px-3 py-1 rounded mt-2 hover:bg-red-700 cursor-pointer">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="mt-2 text-sm text-red-300">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% endwith %}

</form>

<br><br>

<form action="/purge" method="POST">
  <input type="hidden" name="game_id" value='{{ game_id }}'>
  <input type="submit" class="text-gray-900">
</form>

</div>

</div>
