<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<nav class="bg-gray-100 border-b">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">
    
    <a href="/game" class="text-lg font-semibold text-gray-800">
      GAME
    </a>


    <ul class="flex space-x-4">
        <a href="/homepage" class="text-gray-700 hover:text-black">
          Home
        </a>
    </ul>
    <ul class="flex space-x-4">
        <a href="/search" class="text-gray-700 hover:text-black">
          Search
        </a>
    </ul>


    <a href="/logout" 
       class="text-sm border border-gray-400 text-gray-700 px-3 py-1 rounded hover:bg-gray-200">
       Logout
    </a>

  </div>
</nav>


<div class="flex justify-center items-center">
<div id = "game-info" class = "pl-5 pt-2 pr-2">
<div class="max-w-4xl mx-auto mt-12 text-center px-4">

  <h1 class="text-3xl font-bold mb-4">
    Search for one of our many games here
  </h1>
</div>


{% if searching %}
  <div>
    <form action = "/search" method = "GET">
    Enter Game Name: <div class="border-2 border-solid"> <input type = "text" name = "game_name"> </div>
    <input type = "submit">
    </form>
  </div>
{% else %}
 <div class = "p-2">
  {{ games | safe }}
 </div>
{% endif %}

</div>
</div>
